[submodule "bundles/bundle-example-channels"]
	path = bundles/bundle-example-channels
	url = https://github.com/Ranvire/bundle-example-channels
[submodule "bundles/bundle-example-debug"]
	path = bundles/bundle-example-debug
	url = https://github.com/Ranvire/bundle-example-debug
[submodule "bundles/bundle-example-effects"]
	path = bundles/bundle-example-effects
	url = https://github.com/Ranvire/bundle-example-effects
[submodule "bundles/bundle-example-npc-behaviors"]
	path = bundles/bundle-example-npc-behaviors
	url = https://github.com/Ranvire/bundle-example-npc-behaviors
[submodule "bundles/vendor-npcs"]
	path = bundles/vendor-npcs
	url = https://github.com/Ranvire/vendor-npcs
[submodule "bundles/player-groups"]
	path = bundles/player-groups
	url = https://github.com/Ranvire/player-groups
[submodule "bundles/progressive-respawn"]
	path = bundles/progressive-respawn
	url = https://github.com/Ranvire/progressive-respawn
[submodule "bundles/websocket-networking"]
	path = bundles/websocket-networking
	url = https://github.com/Ranvire/websocket-networking
